<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Imperveg | Poliuretano Vegetal</title>
</head>
<body>

    <header>
        <h1>Imperveg | Poliuretano Vegetal</h1>
             
        <nav>
            <ul>
                <li><a href="{{site.baseurl}}/fotos.html">Fotos</a></li>
                <li><a href="">Empresa</a></li>
                <li><a href="">Família de Resinas</a></li>
                <li><a href="">Poliuretano Vegetal Imperveg</a></li>
                <li><a href="">Laudos</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </nav>
    </header>

{{content}}

</body>
</html>